<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestionar Asignaturas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Gestionar Asignaturas</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="post">
        <label for="nombre">Nombre: </label>
        <input type="text" name="nombre" id="nombre" required>
        <button type="submit">Registrar Asignatura</button>
    </form>
    <h2>Lista de Asignaturas</h2>
    <ul>
        {% for asignatura in asignaturas %}
            <li>{{ asignatura[1] }}</li>
        {% endfor %}
    </ul>
</body>
</html>
